<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information | RGMCET</title>
    <link rel="stylesheet" href="C:\Users\kalpa\Desktop\Hackathon\Static\info.css">
</head>
<body>
    <script src="C:\Users\kalpa\Desktop\Hackathon\Static\info.js" defer></script>
    <center><h1>RGMCET ENGINEERING COLLEGE</h1></center>
    <main>
        <section id="student-info">
            <h2>Enter Your Registration Number</h2>
            <input type="text" id="studentId" placeholder="Enter Student ID" />
            <br>
            <button onclick="displayStudentInfo()">Get Info</button>
            <div id="studentDetails" class="student-details"></div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 RGMCET | Best-Performing Student Recognition System. All Rights Reserved.</p>
    </footer>
</body>
</html>
